.notifications {
    position:fixed;
    bottom:5px;
    right:5px;
    z-index:999
}
.header_logo {
    width:5em!important
}
.header_title {
    font-size:2em;
    padding:0 1em 0 0;
    font-family: Lato,Helvetica Neue,Arial,Helvetica,sans-serif;
}
.top {
    z-index:1
}
.padding-top {
    padding-top:8em
}
.simple-padding {
    padding-top:5px
}
.center-icon-name {
    display:flex;
    justify-content:center;
    align-items:center
}
.tableSupport {
    margin:0;
    padding:0;
    height:187px;
    overflow-y:auto;
    overflow-x:hidden
}
.tableSupport,
.tableSupportItems {
    width:100%!important
}
.tableSupportItems>tr {
    border-bottom:1px solid #000;
    text-align:left
}
.center {
    text-align:center
}
.subTable,
.subTable tbody tr,
.subTable tbody tr td {
    width:100%;
    border:1px solid #000
}
img .ui .avatar .image {
    border:1px solid #000
}
.padding-right {
    padding-right:5px
}
.min-image-notification img {
    height:40px
}
.max-height-notification {
    max-height:350px;
    overflow:auto
}
.overflow-menu-admin {
    overflow:auto
}
.min-width-menu {
    width:200px
}
.fa-rotate-45 {
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    transform:rotate(45deg)
}
#batteryPourcent {
    z-index:999;
    position:absolute;
    font-weight:700;
    left:30%;
    font-size:80%
}
.doc {
    margin:.5em 0
}
#mainTab {
    width : 100%
}
.container {
    padding-left : 0px;
    padding-right: 0px;
}   