<div id="app">
    <div class="notifications">
        <div class="ui icon negative message">
            <i aria-hidden="true" class="close icon"></i>
            <i aria-hidden="true" class="minus circle icon"></i>
            <div>Le robot n'est pas connecté !
            </div>
        </div>
    </div>
        <div class="padding-top">
            <div class="ui fluid container">
                <div class="ui top attached tabular menu">
                    <a class="item tablinks" onclick="openTabs(event, 'ctrlContent')">Controle pas à pas</a>
                    <a class="item tablinks active" onclick="openTabs(event, 'actContent')">Actions</a>
                    <a class="item tablinks" onclick="openTabs(event, 'infosContent')">Infos</a>
                </div>
                <div class="ui bottom attached segment tabContent" id ="actContent">
                    <div class="ui fluid container">
                        <button class="ui massive button" style="margin: 5px;">Tai Tchi</button>
                        <button class="ui massive button" style="margin: 5px;">Air Guitar</button>
                        <button class="ui massive button" style="margin: 5px;">Chercher la balle</button>
                        <button class="ui massive button" style="margin: 5px;">Mode pause</button>
                        <button class="ui massive button" style="margin: 5px;">Réveil</button>
                    </div>
                </div>
                <div class="ui bottom attached segment tabContent" id ="ctrlContent" style = "display: none">
                    <div id = "mainTab">
                        <div class="ui fluid center aligned container">
                            <h3 class="ui header">Ces actions ne fonctionnent que si le robot n'est pas en mode pause</h3><br>
                        </div>
                        <div class="ui fluid container">
                            <div class="ui divided center aligned equal width grid">
                                <div class="column">
                                    <div class="ui header">Déplacement Corps</div>
                                    <div class="ui stretched center aligned three column grid">
                                        <div class="row">
                                            <div class="column">
                                                <button class="ui icon button">
                                                    <i aria-hidden="true" class="arrow left big fitted icon fa-rotate-45"></i>
                                                </button>
                                            </div>
                                            <div class="column">
                                                <button class="ui massive icon button">
                                                    <i aria-hidden="true" class="arrow up icon"></i>
                                                </button>
                                            </div>
                                            <div class="column">
                                                <button class="ui icon button"><i aria-hidden="true" class="arrow up big fitted icon fa-rotate-45"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="column">
                                                <button class="ui massive icon button">
                                                    <i aria-hidden="true" class="arrow left icon"></i>
                                                </button>
                                            </div>
                                            <div class="column"><i aria-hidden="true" class="reddit alien huge fitted icon" style="color: rgb(243, 156, 18);"></i>
                                            </div>
                                            <div class="column">
                                                <button class="ui massive icon button">
                                                    <i aria-hidden="true" class="arrow right icon"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="column">
                                                <button class="ui icon button">
                                                    <i aria-hidden="true" class="arrow down big fitted icon fa-rotate-45"></i>
                                                </button>
                                            </div>
                                            <div class="column">
                                                <button class="ui massive icon button">
                                                    <i aria-hidden="true" class="arrow down icon"></i>
                                                </button>
                                            </div>
                                            <div class="column">
                                                <button class="ui icon button">
                                                    <i aria-hidden="true" class="arrow right big fitted icon fa-rotate-45"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="ui header">Déplacement Tête</div>
                                    <div class="ui stretched center aligned three column grid">
                                        <div class="row">
                                            <div class="column"></div>
                                            <div class="column">
                                                <button class="ui massive icon button">
                                                    <i aria-hidden="true" class="chevron up icon"></i>
                                                </button>
                                            </div>
                                            <div class="column"></div>
                                        </div>
                                        <div class="row">
                                            <div class="column">
                                                <button class="ui massive icon button">
                                                    <i aria-hidden="true" class="chevron left icon"></i>
                                                </button>
                                            </div>
                                            <div class="column">
                                                <i aria-hidden="true" class="reddit alien huge fitted icon" style="color: rgb(243, 156, 18);"></i>
                                            </div>
                                            <div class="column">
                                                <button class="ui massive icon button">
                                                    <i aria-hidden="true" class="chevron right icon"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="column"></div>
                                            <div class="column">
                                                <button class="ui massive icon button">
                                                    <i aria-hidden="true" class="chevron down icon"></i>
                                                </button>
                                            </div>
                                            <div class="column"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ui container" style="margin: 2em;">
                                <div class="ui center aligned header">Autres fonction</div>
                                <h3 class="ui left aligned header">Mode rasta</h3>
                                <div class="ui fluid action labeled input" data-children-count="1">
                                    <div class="ui label label">Pendant</div>
                                    <input type="text" placeholder="X secondes">
                                    <button class="ui button button">Executer</button>
                                </div>
                                <h3 class="ui left aligned header">Mode parlotte</h3>
                                <div class="ui fluid action labeled input" data-children-count="1">
                                    <div class="ui label label">Faire dire</div>
                                    <input type="text" placeholder="Coucou">
                                    <button class="ui button button">Executer</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <footer>
        <div style="text-align: center; margin: 50px;">3iL © 2019</div>
    </footer>
</div>

<script>
    function openTabs(evt, contentName) {
      var i, tabcontent, tablinks;
      tabcontent = document.getElementsByClassName("tabContent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
      }
      $("#"+contentName).css("display","flex");
      evt.currentTarget.className += " active";
    }
</script>