<div id="app">
    <div class="nao notifications">
        <div class="ui icon negative message">
            <i class="fas fa-times close-notification" onclick="closeNotification()"></i>
            <i class="fas fa-exclamation-circle fa-2x" style="margin-right: 10px;"></i>
            <div>Le robot n'est pas connecté !
            </div>
        </div>
    </div>
    <div class="padding-top">
    <div class="ui fluid container">
        <div class="ui top attached tabular menu">
            <a class="item tablinks" onclick="openTabs(event, 'ctrlContent')">Controle pas à pas</a>
            <a class="item tablinks active" onclick="openTabs(event, 'actContent')">Actions</a>
            <a class="item tablinks" onclick="openTabs(event, 'infosContent')">Infos</a>
        </div>
        <div class="ui bottom attached segment tabContent" id ="actContent" style = "display: flex">
            <div class="ui fluid container">
                <button class="ui massive button" style="margin: 5px;">Tai Tchi</button>
                <button class="ui massive button" style="margin: 5px;">Air Guitar</button>
                <button class="ui massive button" style="margin: 5px;">Chercher la balle</button>
                <button class="ui massive button" style="margin: 5px;">Mode pause</button>
                <button class="ui massive button" style="margin: 5px;">Réveil</button>
            </div>
        </div>
        <div class="ui bottom attached segment tabContent" id ="ctrlContent" style = "display: none">
            <div id = "mainTab">
                <div class="ui fluid center aligned container">
                    <h3 class="ui header">Ces actions ne fonctionnent que si le robot n'est pas en mode pause</h3><br>
                </div>
                <div class="ui fluid container">
                    <div class="ui divided center aligned equal width grid">
                        <div class="column">
                            <div class="ui header">Déplacement Corps</div>
                            <div class="ui stretched center aligned three column grid">
                                <div class="row">
                                    <div class="column">
                                        <button aria-hidden="true" class="ui massive icon button">
                                            <div class="fa-rotate-45"><i class="fas fa-arrow-left"></i></div>
                                        </button>
                                    </div>
                                    <div class="column">
                                        <button aria-hidden="true" class="ui massive icon button">
                                            <i class="fas fa-arrow-up"></i>
                                        </button>
                                    </div>
                                    <div class="column">
                                        <button aria-hidden="true" class="ui massive icon button">
                                            <div class="fa-rotate-45"><i class="fas fa-arrow-up"></i></div>
                                        </button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="column">
                                        <button aria-hidden="true" class="ui massive icon button">
                                            <i class="fas fa-arrow-left"></i>
                                        </button>
                                    </div>
                                    <div class="column"><img src="./images/header-sm.svg">
                                    </div>
                                    <div class="column">
                                        <button aria-hidden="true" class="ui massive icon button">
                                            <i class="fas fa-arrow-right"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="column">
                                        <button aria-hidden="true" class="ui massive icon button">
                                                <div class="fa-rotate-45"><i class="fas fa-arrow-down"></i></div>
                                        </button>
                                    </div>
                                    <div class="column">
                                        <button aria-hidden="true" class="ui massive icon button">
                                            <i class="fas fa-arrow-down"></i>
                                        </button>
                                    </div>
                                    <div class="column">
                                        <button aria-hidden="true" class="ui massive icon button">
                                            <div class="fa-rotate-45"><i class="fas fa-arrow-right"></i></div>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="ui header">Déplacement Tête</div>
                            <div class="ui stretched center aligned three column grid">
                                <div class="row">
                                    <div class="column"></div>
                                    <div class="column">
                                        <button aria-hidden="true" class="ui massive icon button">
                                            <i class="fas fa-arrow-up"></i>
                                        </button>
                                    </div>
                                    <div class="column"></div>
                                </div>
                                <div class="row">
                                    <div class="column">
                                        <button aria-hidden="true" class="ui massive icon button">
                                            <i class="fas fa-arrow-left"></i>
                                        </button>
                                    </div>
                                    <div class="column">
                                        <img src="./images/header-sm.svg">
                                    </div>
                                    <div class="column">
                                        <button aria-hidden="true" class="ui massive icon button">
                                            <i class="fas fa-arrow-right"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="column"></div>
                                    <div class="column">
                                        <button aria-hidden="true" class="ui massive icon button">
                                            <i class="fas fa-arrow-down"></i>
                                        </button>
                                    </div>
                                    <div class="column"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui container" style="margin: 2em;">
                        <div class="ui center aligned header">Autres fonction</div>
                        <h3 class="ui left aligned header">Mode rasta</h3>
                        <div class="ui fluid action labeled input" data-children-count="1">
                            <div class="ui label label">Pendant</div>
                            <input type="text" placeholder="X secondes">
                            <button class="ui button button">Executer</button>
                        </div>
                        <h3 class="ui left aligned header">Mode parlotte</h3>
                        <div class="ui fluid action labeled input" data-children-count="1">
                            <div class="ui label label">Faire dire</div>
                            <input type="text" placeholder="Coucou">
                            <button class="ui button button">Executer</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="ui bottom attached segment tabContent" id ="infosContent" style = "display: none">
            <div class="ui fluid center aligned container">
                <h3 class="ui header">
                    Informations concernant le robot paulo
                </h3><br>
                <table class="table table-hover table-sm table-bordered">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col" style="flex: 80 0 auto; width: 80px;">NOM LOGIQUE DU CAPTEUR</th>
                            <th scope="col" style="flex: 80 0 auto; width: 80px;">LIBELLE DU CAPTEUR</th>
                            <th scope="col" style="flex: 80 0 auto; width: 80px;">VALEUR</th>
                            <th scope="col" style="flex: 80 0 auto; width: 80px;">SEUIL D'ALERTE</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>battery</td>
                            <td>Niveau de la batterie</td>
                            <td>0%</td>
                            <td>20%</td>
                        </tr>
                        <tr>
                            <td>lElbowTemperature</td>
                            <td>Température du coude gauche</td>
                            <td>0°C</td>
                            <td>60°C</td>
                        </tr>
                        <tr>
                            <td>lFootWeight</td>
                            <td>Poids du pied gauche</td>
                            <td>0 kg</td>
                            <td>5kg</td>
                        </tr>
                        <tr>
                            <td>lHipTemperature</td>
                            <td>Température de la hanche gauche</td>
                            <td>0°C</td>
                            <td>60°C</td>
                        </tr>
                        <tr>
                            <td>lKneeTemperature</td>
                            <td>Température du genou gauche</td>
                            <td>0°C</td>
                            <td>60°C</td>
                        </tr>
                        <tr>
                            <td>lSoulderTemperature</td>
                            <td>Température de l'épaule gauche</td>
                            <td>0°C</td>
                            <td>60°C</td>
                        </tr>
                        <tr>
                            <td>rElbowTemperature</td>
                            <td>Température du coude droit</td>
                            <td>0°C</td>
                            <td>60°C</td>
                        </tr>
                        <tr>
                            <td>rFootWeight</td>
                            <td>Poids du pied droit</td>
                            <td>0 kg</td>
                            <td>5kg</td>
                        </tr>
                        <tr>        
                            <td>rHipTemperature</td>
                            <td>Température de la hanche droite</td>
                            <td>0°C</td>
                            <td>60°C</td>
                        </tr>
                        <tr>
                            <td>rKneeTemperature</td>
                            <td>Température du genou droit</td>
                            <td>0°C</td>
                            <td>60°C</td>
                        </tr>
                        <tr>
                            <td>rShoulderTemperature</td>
                            <td>Température de l'épaule droite</td>
                            <td>0°C</td>
                            <td>60°C</td>
                        </tr>
                        <tr>
                            <td>tempCPU</td>
                            <td>Température CPU</td>
                            <td>0°C</td>
                            <td>90°C</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
                            
<script>
    function openTabs(evt, contentName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabContent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        $("#"+contentName).css("display","flex");
        evt.currentTarget.className += " active";
    }

    function closeNotification(){
        var notifications = $(".notifications");
        /*for(var i = 0 ; i < notifications.length ; i++){
            notifications[i].css("display","none");
        }*/
        notifications.css("display","none");
    }
</script>