<div id="app">
<html>
    <div id="adresseIP">
        <h2>Saissisez votre adresse IP</h2>
        <form>
            <input type="text" name="Entrez votre adresse IP">
        </form>
    </div>
    <div id="adresseMAC">
    <h2>Saississez votre adresse MAC</h2>
    <input>
        <input type="text" name="Saississez votre adresse MAC">
    </form>
    </div>
    <input type="submit" value="Confirmer">
    <div id="confirlationConnexion">
        <input type="submit" value="Confirmer">
    </div>
</html>
    </div>
